name: Package exe with PyInstaller - Windows

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
#   build-windows:

#     runs-on: ubuntu-latest

#     steps:
#     - uses: actions/checkout@v2
#     - name: PyInstaller Windows
#       uses: JackMcKew/pyinstaller-action-windows@main
#       with:
#         path: src

#     - uses: actions/upload-artifact@v2
#       with:
#         name: windows-exe
#         path: src/dist/windows # or path/to/artifact
        
  build-macos:
    runs-on: macOS-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'
      - name: Install requirements
        run: |
          pip install -r $GITHUB_WORKSPACE/src/requirements.txt
      - name: Run PyInstaller
        run: |
          pyinstaller --clean -y --dist $GITHUB_WORKSPACE/src/dist/macos --workpath /tmp $GITHUB_WORKSPACE/src/*.spec
      - name: ls
        run: |
          ls $GITHUB_WORKSPACE/src/dist/
          ls $GITHUB_WORKSPACE/src/dist/macos
      - uses: actions/upload-artifact@v2
        with:
          name: macos-exe
          path: $GITHUB_WORKSPACE/src/dist/macos

